body {
  font-family: Arial, sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 88, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.alarm-clock {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 400px;
}

#alarm-div {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 2rem;
  color: green;
}

h3 {
  font-size: 1.0rem;
  color: #333;
}

.time {
  font-size: 2rem;
  margin: 20px 0;
  color: #333;
}

#set-alarm-btn,
#updateTime {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  margin-top: 15px;
}

#alarm-hours,
#alarm-minutes,
#alarm-seconds,
#alarm-am-pm {
  padding: 10px 15px;
}

#set-alarm-btn:hover,
#updateTime:hover {
  background-color: #0056b3;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.alarms-list {
  margin-top: 20px;
  text-align: left;
  color: #333;
}

.alarm {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out;
  font-size: 14px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}